body, html {
	height:100%;
	margin:0;
}

body {
	background-color: black;
}

.container{
	background-image: url(../images/bund.png) no-repeat center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 70px;
	margin-left: 80px;
	opacity:0.8;
	width: 100%;
}


.headers-left{
	float:left;
	color: white;
	display: inline-block;
	padding-left:77px;
	margin-top: 220px;
	font-size: 30px;
	font-family: georgia;
	letter-spacing: 0.8px;
	opacity: 0.8;
}


.subheaders a{
	color:white;
	padding-top: 640px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	position: right;
	text-indent: 42px;
	margin-left: 50px;
	opacity: 0.9;
}



.nav ul {
	list-style-type: none;
	margin-top:-586px;
	margin-left: 80px;
	padding: 0;
	overflow: hidden;
	background-color: black;
	display: inline-block;
	position: fixed;
}

.nav a{
	float: left;
	position: left;
	display: inline-block;
	padding-left: 3px;
	margin-left: 0px;
	margin-top:-3px;
}


.nav li a{
	display: inline-block;
	color: #646464;
	z-index: 1;
	text-align: center;
	padding-left: 0px;
	padding: 4px 15px;
	text-decoration: none;
	position: relative;

}


.nav li a:hover{
	background-color: lightgray;

}

.subheaders a:hover{
	background-color: #f90f01;
	opacity: 0.8;
	background-height: 2%;
}

