body, html {
	height:100%;
	margin:0;
}

body {
	background-color: black;
}

.container{
	background-image: url(../images/bund.png) no-repeat center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 32px;
	margin-left: 80px;
	opacity:0.8;
}

ul.home-image{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center; 
}

ul.home-image li{
	display: inline-block;
	height:150px
	margin:0 1em 1em 0;
	position: relative;
	width: 150px;
}

.headers-left{
	float:left;
	color: white;
	display: inline-block;
	padding-left:77px;
	padding-top: 200px;
	font-size: 25px;
	font-family: georgia;
	letter-spacing: 0.8px;
	opacity: 1;
}

.subheaders a{
	color:white;
	margin-top: 590px;
	display: inline-block;
	text-indent: 20px;
	font-size: 16px;
	text-decoration: none;
	position: center;
	padding-left: 12px;
	opacity: 0.6;
}

a.subheaders:hover{
font-size: 500px;
opacity: 1.0;
}

}

span.text-content{
	background: rgba(0,0,0,0.5);
	color:white;
	cursor:pointer;
	display:table;
	height:150px;
	left:0;
	position:absolute;
	top:0;
	width:150px;
	opacity: 1;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
 	transition: opacity 500ms;
}

span.text-content span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


ul.home-image li:hover span.text-content{
	opacity:1;
}