body, html {
	height:100%;
	margin:0;
}

body {
	background-color: black;
}

.container{
	background-image: url(../images/bund.png) no-repeat center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 30px;
	margin-left: 80px;
	opacity:0.8;
}

.headers-left{
	float:left;
	color: white;
	display: inline-block;
	padding-left:82px;
	padding-top: 10px;
	font-size: 15px;
	font-family: georgia;
	letter-spacing: 0.5px;
	opacity: 1;
}

.subheaders a{
	color:white;
	margin-top: 590px;
	display: inline-block;
	text-indent: 20px;
	font-size: 16px;
	text-decoration: none;
	position: center;
	padding-left: 30px;
	opacity: 0.6;
}
